<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<!--告诉浏览器准备接受一个 HTML 文档-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!--默认编码UTF-8-->
		<meta charset="UTF-8">
		<!--默认采用webkit模式-->
		<meta name="renderer" content="webkit" />
		<!--IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame-->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<!--(设置确保适当的绘制和触屏缩放)-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--手机号码不被显示为拨号链接-->
		<meta name="format-detection" content="telephone=yes" />
		<!--Email不被显示为发送Email链接-->
		<meta name="format-detection" content="email=no">
		<!--关键字-->
		<meta name="keywords" content="" />
		<!--描述信息-->
		<meta name="description" content="" />
		<!--作者-->
		<meta name="author" content="lgsp_Harold-Hua">
		<title>Pay</title>
		<!--重置部分默认样式-->
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<!--bootstrap框架样式-->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<!--公共样式-->
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
		<!--私有样式-->
		<link rel="stylesheet" type="text/css" href="../css/order_list.css" />
		<!--公共js-->
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<!--私有js-->
	</head>

	<body>
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2">
						<a href="./index.html"><span class="glyphicon glyphicon-chevron-left"></span></a>
					</div>
					<div class="col-xs-8">
						<p class="text-center title">订单列表</p>
					</div>
					<div class="col-xs-2"></div>
				</div>
			</div>
		</header>

		<section>
			<div class="container-fluid">
				<form class="form">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><button type="submit" class="glyphicon glyphicon-search search"></button></div>
							<input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入订单号">
						</div>
					</div>
				</form>
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<th></th>
							<th>订单号</th>
							<th>商品名</th>
						</tr>
						<tr>
							<td class="text-center"><span class="glyphicon glyphicon-zoom-in" onclick="test()"></span></td>
							<td>888888888</td>
							<td>商品</td>
						</tr>
						<tr>
							<td class="text-center"><span class="glyphicon glyphicon-zoom-in" onclick="test()"></span></td>
							<td>888888888</td>
							<td>商品</td>
						</tr>
						<tr>
							<td class="text-center"><span class="glyphicon glyphicon-zoom-in" onclick="test()"></span></td>
							<td>888888888</td>
							<td>商品</td>
						</tr>
						<tr>
							<td class="text-center"><span class="glyphicon glyphicon-zoom-in" onclick="test()"></span></td>
							<td>888888888</td>
							<td>商品</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<footer>

		</footer>

	<script type="text/javascript">
		function test() {
			location.href='./order_details.html';
		}
	</script>
	</body>

</html>