<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!--告诉浏览器准备接受一个 HTML 文档-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--默认编码UTF-8-->
    <meta charset="UTF-8">
    <!--默认采用webkit模式-->
    <meta name="renderer" content="webkit" />
    <!--IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--(设置确保适当的绘制和触屏缩放)-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--控制状态栏显示样式-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--手机号码不被显示为拨号链接-->
    <meta name="format-detection" content="telephone=yes" />
    <!--Email不被显示为发送Email链接-->
    <meta name="format-detection" content="email=no">
    <!--关键字-->
    <meta name="keywords" content="" />
    <!--描述信息-->
    <meta name="description" content="" />
    <!--作者-->
    <meta name="author" content="lgsp_Harold-Hua">
    <title>Pay</title>
    <!--重置部分默认样式-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <!--bootstrap框架样式-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--公共样式-->
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <link href="css/ionic.min.css" rel="stylesheet">
    <!--私有样式-->
    <link rel="stylesheet" type="text/css" href="css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="css/check_payment.css" />
    <!--公共js-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ionic.bundle.min.js"></script>
    <!--私有js-->
</head>

<body>
<header>

</header>

<section>
    <div class="container-fluid text-center">
        <div class="loading_wrap">
            <div ng-app="ionicApp" id="spinnerDiv">
                <p>
                    <!--居中显示-->
                    <ion-spinner icon="ios" style="stroke:#ea4747;fill:#de2e2ecc;"></ion-spinner>
                    <!--bubbles加载动画的样式-->
                </p>
                <marquee class="text center-block" behavior="alternate" direction="right" scrollamount="3">等待确认支付结果</marquee>
            </div>
        </div>

        <div class="success">
            <img class="img-responsive center-block" src="img/icon/successful.png" />
            <h2>支付成功</h2>
            <p class="text">您已支付了&nbsp;<span th:text="|￥${price}|" ></span>&nbsp;
                <a th:href="|detail?orderNo=${order.orderNo}|">查看订单</a>
            </p>
        </div>

        <div class="fail">
            <img class="img-responsive center-block" src="img/icon/fail.png" />
            <h2>支付失败</h2>
            <p class="text">您未能成功支付
                <a href="index.html">重新支付</a>
            </p>
        </div>
        <input type="hidden" id="status" th:value="${order.status}" />
        <input type="hidden" id="orderNo" th:value="${order.orderNo}" />
    </div>

</section>

<footer>

</footer>

<script type="text/javascript">
    angular.module('ionicApp', ['ionic'])

    $(document).ready(function () {
        var status = $('#status').val();
        var orderNo = $('#orderNo').val();
        showStatus(status);
        setInterval(function(){
            if(status=='PENDING'){
                $.post({
                    type:'post',
                    data:{orderNo:orderNo},
                    url:'ajax/status',
                    success:function (val) {
                        status = val;
                        showStatus(status);
                    }
                })
            }
        }, 1000);
    });

    function showStatus(stausVal) {
        $('.loading_wrap').css('display', 'none');
        $('.success').css('display', 'none');
        $('.fail').css('display', 'none');
        if(stausVal=='COMPLETE'){
            $('.success').css('display', 'block');
        }else if(stausVal=='FAIL'){
            $('.fail').css('display', 'block');
        }else {
            $('.loading_wrap').css('display', 'block');
        }
    }

</script>
</body>

</html>
